body,input,form,p,pre,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}
ul,li,ol,dl,dt,dd{
	margin:0;
	padding:0;
	list-style: none;
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
input[type="button"],button,a{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
img{
	border: 0;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-user-select:none;
}
input,textarea{
	outline: none;
}
.hidd-one{
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.hidd-more{
	// 容器高度必须设置为auto，不能固定高度
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;    // 固定显示3行
	overflow: hidden;
}
body,html{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
}
header{
	height: .88rem;
	flex:none;
}
.center-section{
	flex:auto;
	overflow: auto;
}
footer{
	height: .98rem;
	flex:none;
}