html,
body {
  height: 100%;
}
.header {
  height: 0.88rem;
  background: #3867FA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2rem;
  flex: 0 0 auto;
}
.header .jin {
  width: 2.98rem;
  height: 0.47rem;
}
.header img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
/*contain*/
.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contain .item {
  width: 6.86rem;
  height: 4.52rem;
  background: rgba(23, 0, 0, 0.9);
  box-shadow: 0 0 10px 1px rgba(90, 90, 90, 0.89);
  align-self: center;
  margin-top: 0.25rem;
  color: #fff;
  font-size: 0.46rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contain .item .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.8);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contain .item .mask .more {
  width: 1.75rem;
  height: 0.61rem;
}
.contain .item .mask .more img {
  width: 100%;
  height: 100%;
}
.contain .item .right-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.9rem;
  height: 100%;
  background: #2152F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6rem 0;
  box-sizing: border-box;
}
.contain .item .right-box a {
  width: 0.76rem;
  height: 0.81rem;
  align-self: center;
}
.contain .item .right-box a img {
  width: 100%;
  height: 100%;
}
.contain .item .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
