.zyh_top{
	width: 100%;
	background: #3867FA;
	margin: 0 auto;
	height: 0.88rem;
}
.zyh_top .zyh_tops{
	width:100%;
	height: 100%;
	margin:0 auto;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 0.88rem;
	position: relative;
}
.zyh_top .zyh_tops img{
	height: 35%;
	vertical-align: middle;
}
.zyh_top .zyh_lian{
	width: 0.36rem;
	height: 0.36rem;
	position: absolute;
	right:0.2rem;
	top:0.25rem;
	border-radius: 50%;
}
.zyh_top .zyh_lian .zyh_jie{
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	margin: 0 auto;
	margin-top: 0.06rem;
	background: url(../images/zyh_img/zyh_3.png)no-repeat center center/cover;
}
html,body {
  	height: 100%;
}
body {
 	 display: flex;
 	 flex-direction: column;
}
header {
  	flex: none;
}
section{
	width: 100%;
  	flex: auto;
  	overflow: auto;
 	box-sizing: border-box;
}

/*头部结束*/
/*二维码开始*/
.zyh_code{
	width: 100%;
	height:auto;

	overflow: hidden;
}

body{
	background: url(../images/zyh_img/zyh_bg14.png)no-repeat center center;
}

.zyh_code .zyh_codes{
	width: 100%;
	height: 100%;
	/*background:url(../images/zyh_img/zyh_bg14.png)no-repeat center center/cover; */
	overflow: hidden;
}
.zyh_code .zyh_codes .zyh_scan{
	width: 85%;
	height: 6.43rem;
	margin: 0 auto;
	margin-top: 0.1rem;
	position: relative;
}
.zyh_code .zyh_codes .zyh_scan img{
	width: 100%;
}
.zyh_code .zyh_codes .zyh_scans{
	width: 85%;
	height: 110%;
	position: absolute;
	top:0.6rem;
	left:0.4rem;
}
.zyh_code .zyh_codes .zyh_scans p{
	font-size: 12px;
	color: #666666;
	float: left;
	margin-right: 0.25rem;
	margin-bottom: 0.6rem;
}
.zyh_code .zyh_codes .zyh_scans .div1{
	width: 2.95rem;
	height: 2.95rem;
	margin: 0 auto;
}
.zyh_code .zyh_codes .zyh_scans .zyh_hang{
	width: 100%;
	height: 1.8rem;
	margin-top: 0.9rem;
	padding-left: 0.1rem;
}
.zyh_code .zyh_codes .zyh_scans .zyh_hang ul{
	width: 100%;
	height: 100%;
}
.zyh_code .zyh_codes .zyh_scans .zyh_hang ul .zyh_xin{
	width: 85%;
	height: 0.45rem;
	margin: 0 auto;
	font-size: 12px;
	color: #ADADAD;
	text-align: center;	
	background: url(../images/zyh_img/zyh_bg5.png)no-repeat; 
	background-size: 8%;
	margin-bottom: 0.1rem;
}
.zyh_code .zyh_codes .zyh_scans .zyh_hang ul .zyh_xian{
	width: 100%;
	height: 2px;
	background:#F8F8F8;
	margin-top: 0.2rem;
}
.zyh_code .zyh_codes .zyh_scans .zyh_hang ul .zyh_zhao{
	width: 85%;
	height: 0.45rem;
	margin: 0 auto;
	font-size: 12px;
	color: #000;
	text-align: center;	
	/*background: url(../images/zyh_img/zyh_bg6.png)no-repeat; */
	background-size: 8%;
	margin-bottom: 0.1rem;
}
.zyh_code .zyh_codes .zyh_scans .zyh_hang ul .zyh_zhao img{
	width: 8%;
}
.zyh_code .zyh_codes .zyh_scans .zyh_hang ul .zyh_nong{
	width: 87%;
	height: 0.45rem;
	margin: 0 auto;
	font-size: 12px;
	text-align: center;	
	/*background: url(../images/zyh_img/zyh_bg7.png)no-repeat; */
	background-size: 8%;
	margin-bottom: 0.1rem;
}
.zyh_code .zyh_codes .zyh_scans .zyh_hang ul .zyh_nong a{
	color: #ADADAD;
}
.zyh_code .zyh_codes .zyh_scans .zyh_hang ul .zyh_nong img{
	width: 8%;
}
/*二维码结束*/
/*底部开始*/
.zyh_code .zyh_foot{
	width: 100%;
	height: 1.8rem;
	/*background: red;*/
	margin-top: 2rem;
}
.zyh_code .zyh_foot ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content:space-around;
}
.zyh_code .zyh_foot ul li{
	width: 30%;
	height: 1.52rem;
	float: left;
	/*background: red;*/
}
.zyh_code .zyh_foot ul li img{
	width: 50%;
	margin-left:0.5rem;
}
.zyh_code .zyh_foot ul li p{
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 0.4rem;
}